@import "../../shared.scss";

.chart {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 200px 50px;
    grid-template-areas:
        "left plot"
        ". bottom";

    & > .axis {
        @include axis;

        &.left {
            grid-area: left;
            @include left-axis;
        }

        &.bottom {
            grid-area: bottom;
            @include bottom-axis;
        }
    }

    & > .plot {
        grid-area: plot;
        @include canvas-plot;
    }
}
