@import "../../shared.scss";

.chart {
    display: grid;
    grid-template-columns: 50px 300px;
    grid-template-rows: 300px 50px;
    grid-template-areas:
        "left plot"
        ". bottom";

    & > .axis {
        @include axis;

        &.left {
            grid-area: left;
            @include left-axis;
        }

        &.bottom {
            grid-area: bottom;
            @include bottom-axis;
        }
    }

    & > .plot {
        grid-area: plot;
        @include canvas-plot;
        cursor: none;
    }

    & > .plot-overlay {
        grid-area: plot;
        @include svg-plot;
        background: none;
        pointer-events: none;

        & circle {
            fill: rgba(black, 0.3);
            stroke: none;
        }

        & rect {
            fill: rgba(black, 0.3);
            stroke: none;
        }
    }
}
